#post-picker-addon {
    z-index: 999999;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    display: block;
    top: 0;
}

#post-picker-addon .picker-modal {
    background-color: #f3f3f3;
    width: 1000px;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 40px;
}

#post-picker-addon .sidebar {
    float: left;
    min-width: 179px;
    width: auto;
    padding: 10px;
    background-color: #f3f3f3;
}

#post-picker-addon .content {
    float: left;
    min-width: 800px;
    max-width: 800px;
    width: auto;
    background-color: #fff;
    border-left: 1px solid #ccc;
}

#post-picker-addon .content .header {
    padding: 15px;
    border-bottom: 1px solid #DEDEDE;
    background-color: #FAFAFA;
}

#post-picker-addon .content .header h2 {
    font-size: 22px;
    margin: 0;
    color: #444;
    font-weight: 600;
}

#post-picker-addon .content .body {
    overflow: auto;
    max-height: 548px;
    -webkit-overflow-scrolling: touch;
    padding: 0 15px 15px 0;
}

#post-picker-addon .content .footer {
    padding: 15px;
    border-top: 1px solid #DEDEDE;
    text-align: right;
}

#post-picker-addon .content .body .post {
    float: left;
    overflow: hidden;
    width: 367px;
    border: 1px solid #DDD;
    margin: 15px 0 0 15px;
}

#post-picker-addon .content .body .post:hover {
    box-shadow: 0 0 3px 2px #00a0d2;
    border-color: #00a0d2;
    cursor: pointer;
}

#post-picker-addon .content .body .post.selected {
    box-shadow: 0 0 3px 2px #0073aa;
    border-color: #0073aa;
}

#post-picker-addon .content .body .post.selected:hover {
    box-shadow: 0 0 3px 2px #C85600;
    border-color: #C85600;
}

#post-picker-addon .content .body .post .img-container {
    height: 120px;
    width: 120px;
    float: left;
    margin-right: 10px;
    background-color: slategray;
}

#post-picker-addon .content .body .post img {
    width: auto;
}

#post-picker-addon .content .body .post .img-sub {
    height: 120px;
    display: block;
}

#post-picker-addon .content .body .post .info {
    display: inline;
    float: initial;
    width: inherit;
}

#post-picker-addon .content .body .post .info h3 {
    margin: 5px;
}

#post-picker-addon .content .body .post .info p {
    font-size: 12px;
    margin: 0 5px;
}

#post-picker-addon a.close {
    float: right;
    font-size: 20px;
    color: #333;
}

#post-picker-addon a.close:hover {
    cursor: pointer;
    color: #00a0d2;
}

#post-picker-addon .sidebar label {
    display: block;
    padding: 5px 2px;
    margin-top: 10px;
    border-top: 1px solid #EBEBEB;
    color: #666;
}

#post-picker-addon .sidebar select,
#post-picker-addon .sidebar input {
    width: 100%;
}

#post-picker-addon span.loader {
    color: #00a0d2;
    margin-right: 20px;
    float: right;
}

#post-picker-addon .content .body .post span.indicator {
    position: relative;
    bottom: 32px;
    width: 30px;
    height: 25px;
    padding-top: 3px;
    display: block;
    text-align: center;
    color: #fff;
    font-size: 20px;
    display: none;
}

#post-picker-addon .content .body .post span.indicator.selected {
    background-color: #0073aa;
}

#post-picker-addon .content .body .post span.indicator.deselect {
    background-color: #DF5F00;
}

#post-picker-addon .content .body .post.selected span.indicator.selected {
    display: block;
}

#post-picker-addon .content .body .post.selected:hover span.indicator.selected {
    display: none;
}

#post-picker-addon .content .body .post.selected:hover span.indicator.deselect {
    display: block;
}

@media screen and (min-width: 980px) and (max-width: 1050px) {

    #post-picker-addon .picker-modal {
        width: 950px;
    }

    #post-picker-addon .content {
        min-width: 750px;
        max-width: 750px;
    }

    #post-picker-addon .content .body .post {
        width: 340px;
    }

    #post-picker-addon .content .body .post .info p {
        font-size: 11px;
    }
}

@media screen and (min-width: 780px) and (max-width: 980px) {

    #post-picker-addon .sidebar {
        float: none;
    }

    #post-picker-addon .picker-modal {
        width: 750px;
        margin-top: 14px;
    }

    #post-picker-addon .content {
        min-width: 749px;
        max-width: 749px;
    }

    #post-picker-addon .content .body .post {
        width: 340px;
    }

    #post-picker-addon .content .body .post .info p {
        font-size: 11px;
    }

    #post-picker-addon .sidebar select,
    #post-picker-addon .sidebar input {
        width: auto;
    }

    #post-picker-addon .sidebar .form-group {
        display: inline;
        float: right;
    }

    #post-picker-addon .sidebar label {
        display: inline;
        border-top: none;
    }

    #post-picker-addon .content .header {
        border-top: 1px solid #DEDEDE;
    }

    #post-picker-addon .content .body {
        max-height: 410px;
    }
}

@media screen and (min-width: 980px) and (min-height: 585px) and (max-height: 725px) {

    #post-picker-addon .content .body {
        max-height: 410px;
    }
}

@media screen and (min-width: 600px) and (max-width: 780px) {

    #post-picker-addon .sidebar {
        float: none;
    }

    #post-picker-addon .sidebar select,
    #post-picker-addon .sidebar input {
        width: auto;
    }

    #post-picker-addon .sidebar .form-group {
        display: inline;
        float: right;
    }

    #post-picker-addon .sidebar label {
        display: inline;
        border-top: none;
    }

    #post-picker-addon .picker-modal {
        width: 580px;
        margin-top: 14px;
    }

    #post-picker-addon .content {
        min-width: 578px;
        max-width: auto;
    }

    #post-picker-addon .content .body .post {
        width: 533px;
    }

    #post-picker-addon .content .body .post .info p {
        font-size: 15px;
    }

    #post-picker-addon .content .body .post .info h3 {
        margin: 5px;
        font-size: 19px;
    }

    #post-picker-addon .content .header {
        border-top: 1px solid #DEDEDE;
    }
}

@media screen and (max-width: 599px) {

    #post-picker-addon .sidebar {
        float: none;
    }

    #post-picker-addon .sidebar select,
    #post-picker-addon .sidebar input {
        width: auto;
    }

    #post-picker-addon .sidebar .form-group {
        display: inline;
        float: right;
    }

    #post-picker-addon .sidebar label {
        display: inline;
        border-top: none;
    }

    #post-picker-addon .picker-modal {
        width: 320px;
        margin-top: 0;
    }

    #post-picker-addon .sidebar .form-group.type {
        display: none;
    }
    #post-picker-addon .sidebar input {
        line-height: 17px;
        font-size: 12px;
    }

    #post-picker-addon .content {
        min-width: auto;
        max-width: auto;
        width: auto;
    }

    #post-picker-addon .content .header {
        border-top: 1px solid #DEDEDE;
    }

    #post-picker-addon .content .header {
        padding: 10px;
    }

    #post-picker-addon .content .header h2 {
        font-size: 19px;
    }

    #post-picker-addon .content .body .post {
        width: 278px;
    }

    #post-picker-addon .content .body .post .info p {
        font-size: 11px;
    }

    #post-picker-addon .content .body .post .img-container {
        height: 65px;
        width: 65px;
    }

    #post-picker-addon .content .body .post img {
        height: 65px;
        width: 65px;
    }

    #post-picker-addon .content .body .post .img-sub {
        height: 65px;
    }

    #post-picker-addon .content .body .post .info p {
        display: none;
    }

    #post-picker-addon .content .body {
        max-height: 246px;
    }

    #post-picker-addon .content .body .post .info h3 {
        font-size: 15px;
    }
}

@media screen and (max-width: 599px) and (min-height: 560px) {

    #post-picker-addon .content .body {
        max-height: 328px;
    }
}